*{
    background-color: black;
    background-size: cover;

}
body {
    float: none;
    
    text-align: center;
    width: 1000px; 
}

.container {
    display:flex;
flex-wrap: wrap;
}


.display3{
    text-align: center;
    color: rgb(255, 255, 255);
    flex-basis: 100%;
    margin-bottom: 1em;

}
h2{
    text-align: center;
    color: white;
}

p{color: white;
    text-align: justify;
    font-size: 15px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    flex-basis: 100%;
    margin-bottom: 1em;
}

.img-fluid {
    min-width: 250;


}

strong{ text-decoration: underline;}

.foto2{
    width: 600px;
}

em {
    background-color: blue;
}

em.uno {
    text-decoration: underline;
}

em.dos{
    text-decoration: underline
}

em.tres{
    text-decoration: underline
}

#final{
    color: burlywood;
    flex-basis: 100%;
    margin-bottom: 1em;
}